.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-4 { margin-top: 1rem; }
.mt-px { margin-top: 1px; }
.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-4 { margin-right: 1rem; }
.mr-px { margin-right: 1px; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-px { margin-bottom: 1px; }
.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 0.25rem; }
.ml-2 { margin-left: 0.5rem; }
.ml-4 { margin-left: 1rem; }
.ml-px { margin-left: 1px; }
.mx-0 { margin-left: 0; }
.mx-0 { margin-right: 0; }
.mx-1 { margin-left: 0.25rem; }
.mx-1 { margin-right: 0.25rem; }
.mx-2 { margin-left: 0.5rem; }
.mx-2 { margin-right: 0.5rem; }
.mx-4 { margin-left: 1rem; }
.mx-4 { margin-right: 1rem; }
.mx-px { margin-left: 1px; }
.mx-px { margin-right: 1px; }
.my-0 { margin-top: 0; }
.my-0 { margin-bottom: 0; }
.my-1 { margin-top: 0.25rem; }
.my-1 { margin-bottom: 0.25rem; }
.my-2 { margin-top: 0.5rem; }
.my-2 { margin-bottom: 0.5rem; }
.my-4 { margin-top: 1rem; }
.my-4 { margin-bottom: 1rem; }
.my-px { margin-top: 1px; }
.my-px { margin-bottom: 1px; }
.m-0 { margin: 0; }
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-4 { margin: 1rem; }
.m-px { margin: 1px; }
.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-4 { padding-top: 1rem; }
.pt-px { padding-top: 1px; }
.pr-0 { padding-right: 0; }
.pr-1 { padding-right: 0.25rem; }
.pr-2 { padding-right: 0.5rem; }
.pr-4 { padding-right: 1rem; }
.pr-px { padding-right: 1px; }
.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-4 { padding-bottom: 1rem; }
.pb-px { padding-bottom: 1px; }
.pl-0 { padding-left: 0; }
.pl-1 { padding-left: 0.25rem; }
.pl-2 { padding-left: 0.5rem; }
.pl-4 { padding-left: 1rem; }
.pl-px { padding-left: 1px; }
.px-0 { padding-left: 0; }
.px-0 { padding-right: 0; }
.px-1 { padding-left: 0.25rem; }
.px-1 { padding-right: 0.25rem; }
.px-2 { padding-left: 0.5rem; }
.px-2 { padding-right: 0.5rem; }
.px-4 { padding-left: 1rem; }
.px-4 { padding-right: 1rem; }
.px-px { padding-left: 1px; }
.px-px { padding-right: 1px; }
.py-0 { padding-top: 0; }
.py-0 { padding-bottom: 0; }
.py-1 { padding-top: 0.25rem; }
.py-1 { padding-bottom: 0.25rem; }
.py-2 { padding-top: 0.5rem; }
.py-2 { padding-bottom: 0.5rem; }
.py-4 { padding-top: 1rem; }
.py-4 { padding-bottom: 1rem; }
.py-px { padding-top: 1px; }
.py-px { padding-bottom: 1px; }
.p-0 { padding: 0; }
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-4 { padding: 1rem; }
.p-px { padding: 1px; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.font-thin { font-weight: 100; }
.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-black { font-weight: 900; }
.text-xs { font-size: 0.75rem; }
.text-sm { font-size: 0.875rem; }
.text-base { font-size: 1rem; }
.text-lg { font-size: 1.125rem; }
.text-xl { font-size: 1.25rem; }
.text-2xl { font-size: 1.5rem; }
.text-3xl { font-size: 1.875rem; }
@media (min-width: 640px) {
  .sm\:mt-0 { margin-top: 0; }
  .sm\:mt-1 { margin-top: 0.25rem; }
  .sm\:mt-2 { margin-top: 0.5rem; }
  .sm\:mt-4 { margin-top: 1rem; }
  .sm\:mt-px { margin-top: 1px; }
  .sm\:mr-0 { margin-right: 0; }
  .sm\:mr-1 { margin-right: 0.25rem; }
  .sm\:mr-2 { margin-right: 0.5rem; }
  .sm\:mr-4 { margin-right: 1rem; }
  .sm\:mr-px { margin-right: 1px; }
  .sm\:mb-0 { margin-bottom: 0; }
  .sm\:mb-1 { margin-bottom: 0.25rem; }
  .sm\:mb-2 { margin-bottom: 0.5rem; }
  .sm\:mb-4 { margin-bottom: 1rem; }
  .sm\:mb-px { margin-bottom: 1px; }
  .sm\:ml-0 { margin-left: 0; }
  .sm\:ml-1 { margin-left: 0.25rem; }
  .sm\:ml-2 { margin-left: 0.5rem; }
  .sm\:ml-4 { margin-left: 1rem; }
  .sm\:ml-px { margin-left: 1px; }
  .sm\:mx-0 { margin-left: 0; }
  .sm\:mx-0 { margin-right: 0; }
  .sm\:mx-1 { margin-left: 0.25rem; }
  .sm\:mx-1 { margin-right: 0.25rem; }
  .sm\:mx-2 { margin-left: 0.5rem; }
  .sm\:mx-2 { margin-right: 0.5rem; }
  .sm\:mx-4 { margin-left: 1rem; }
  .sm\:mx-4 { margin-right: 1rem; }
  .sm\:mx-px { margin-left: 1px; }
  .sm\:mx-px { margin-right: 1px; }
  .sm\:my-0 { margin-top: 0; }
  .sm\:my-0 { margin-bottom: 0; }
  .sm\:my-1 { margin-top: 0.25rem; }
  .sm\:my-1 { margin-bottom: 0.25rem; }
  .sm\:my-2 { margin-top: 0.5rem; }
  .sm\:my-2 { margin-bottom: 0.5rem; }
  .sm\:my-4 { margin-top: 1rem; }
  .sm\:my-4 { margin-bottom: 1rem; }
  .sm\:my-px { margin-top: 1px; }
  .sm\:my-px { margin-bottom: 1px; }
  .sm\:m-0 { margin: 0; }
  .sm\:m-1 { margin: 0.25rem; }
  .sm\:m-2 { margin: 0.5rem; }
  .sm\:m-4 { margin: 1rem; }
  .sm\:m-px { margin: 1px; }
  .sm\:pt-0 { padding-top: 0; }
  .sm\:pt-1 { padding-top: 0.25rem; }
  .sm\:pt-2 { padding-top: 0.5rem; }
  .sm\:pt-4 { padding-top: 1rem; }
  .sm\:pt-px { padding-top: 1px; }
  .sm\:pr-0 { padding-right: 0; }
  .sm\:pr-1 { padding-right: 0.25rem; }
  .sm\:pr-2 { padding-right: 0.5rem; }
  .sm\:pr-4 { padding-right: 1rem; }
  .sm\:pr-px { padding-right: 1px; }
  .sm\:pb-0 { padding-bottom: 0; }
  .sm\:pb-1 { padding-bottom: 0.25rem; }
  .sm\:pb-2 { padding-bottom: 0.5rem; }
  .sm\:pb-4 { padding-bottom: 1rem; }
  .sm\:pb-px { padding-bottom: 1px; }
  .sm\:pl-0 { padding-left: 0; }
  .sm\:pl-1 { padding-left: 0.25rem; }
  .sm\:pl-2 { padding-left: 0.5rem; }
  .sm\:pl-4 { padding-left: 1rem; }
  .sm\:pl-px { padding-left: 1px; }
  .sm\:px-0 { padding-left: 0; }
  .sm\:px-0 { padding-right: 0; }
  .sm\:px-1 { padding-left: 0.25rem; }
  .sm\:px-1 { padding-right: 0.25rem; }
  .sm\:px-2 { padding-left: 0.5rem; }
  .sm\:px-2 { padding-right: 0.5rem; }
  .sm\:px-4 { padding-left: 1rem; }
  .sm\:px-4 { padding-right: 1rem; }
  .sm\:px-px { padding-left: 1px; }
  .sm\:px-px { padding-right: 1px; }
  .sm\:py-0 { padding-top: 0; }
  .sm\:py-0 { padding-bottom: 0; }
  .sm\:py-1 { padding-top: 0.25rem; }
  .sm\:py-1 { padding-bottom: 0.25rem; }
  .sm\:py-2 { padding-top: 0.5rem; }
  .sm\:py-2 { padding-bottom: 0.5rem; }
  .sm\:py-4 { padding-top: 1rem; }
  .sm\:py-4 { padding-bottom: 1rem; }
  .sm\:py-px { padding-top: 1px; }
  .sm\:py-px { padding-bottom: 1px; }
  .sm\:p-0 { padding: 0; }
  .sm\:p-1 { padding: 0.25rem; }
  .sm\:p-2 { padding: 0.5rem; }
  .sm\:p-4 { padding: 1rem; }
  .sm\:p-px { padding: 1px; }
  .sm\:text-left { text-align: left; }
  .sm\:text-center { text-align: center; }
  .sm\:text-right { text-align: right; }
  .sm\:text-justify { text-align: justify; }
  .sm\:font-thin { font-weight: 100; }
  .sm\:font-light { font-weight: 300; }
  .sm\:font-normal { font-weight: 400; }
  .sm\:font-medium { font-weight: 500; }
  .sm\:font-semibold { font-weight: 600; }
  .sm\:font-bold { font-weight: 700; }
  .sm\:font-black { font-weight: 900; }
  .sm\:text-xs { font-size: 0.75rem; }
  .sm\:text-sm { font-size: 0.875rem; }
  .sm\:text-base { font-size: 1rem; }
  .sm\:text-lg { font-size: 1.125rem; }
  .sm\:text-xl { font-size: 1.25rem; }
  .sm\:text-2xl { font-size: 1.5rem; }
  .sm\:text-3xl { font-size: 1.875rem; }
}
@media (min-width: 768px) {
  .md\:mt-0 { margin-top: 0; }
  .md\:mt-1 { margin-top: 0.25rem; }
  .md\:mt-2 { margin-top: 0.5rem; }
  .md\:mt-4 { margin-top: 1rem; }
  .md\:mt-px { margin-top: 1px; }
  .md\:mr-0 { margin-right: 0; }
  .md\:mr-1 { margin-right: 0.25rem; }
  .md\:mr-2 { margin-right: 0.5rem; }
  .md\:mr-4 { margin-right: 1rem; }
  .md\:mr-px { margin-right: 1px; }
  .md\:mb-0 { margin-bottom: 0; }
  .md\:mb-1 { margin-bottom: 0.25rem; }
  .md\:mb-2 { margin-bottom: 0.5rem; }
  .md\:mb-4 { margin-bottom: 1rem; }
  .md\:mb-px { margin-bottom: 1px; }
  .md\:ml-0 { margin-left: 0; }
  .md\:ml-1 { margin-left: 0.25rem; }
  .md\:ml-2 { margin-left: 0.5rem; }
  .md\:ml-4 { margin-left: 1rem; }
  .md\:ml-px { margin-left: 1px; }
  .md\:mx-0 { margin-left: 0; }
  .md\:mx-0 { margin-right: 0; }
  .md\:mx-1 { margin-left: 0.25rem; }
  .md\:mx-1 { margin-right: 0.25rem; }
  .md\:mx-2 { margin-left: 0.5rem; }
  .md\:mx-2 { margin-right: 0.5rem; }
  .md\:mx-4 { margin-left: 1rem; }
  .md\:mx-4 { margin-right: 1rem; }
  .md\:mx-px { margin-left: 1px; }
  .md\:mx-px { margin-right: 1px; }
  .md\:my-0 { margin-top: 0; }
  .md\:my-0 { margin-bottom: 0; }
  .md\:my-1 { margin-top: 0.25rem; }
  .md\:my-1 { margin-bottom: 0.25rem; }
  .md\:my-2 { margin-top: 0.5rem; }
  .md\:my-2 { margin-bottom: 0.5rem; }
  .md\:my-4 { margin-top: 1rem; }
  .md\:my-4 { margin-bottom: 1rem; }
  .md\:my-px { margin-top: 1px; }
  .md\:my-px { margin-bottom: 1px; }
  .md\:m-0 { margin: 0; }
  .md\:m-1 { margin: 0.25rem; }
  .md\:m-2 { margin: 0.5rem; }
  .md\:m-4 { margin: 1rem; }
  .md\:m-px { margin: 1px; }
  .md\:pt-0 { padding-top: 0; }
  .md\:pt-1 { padding-top: 0.25rem; }
  .md\:pt-2 { padding-top: 0.5rem; }
  .md\:pt-4 { padding-top: 1rem; }
  .md\:pt-px { padding-top: 1px; }
  .md\:pr-0 { padding-right: 0; }
  .md\:pr-1 { padding-right: 0.25rem; }
  .md\:pr-2 { padding-right: 0.5rem; }
  .md\:pr-4 { padding-right: 1rem; }
  .md\:pr-px { padding-right: 1px; }
  .md\:pb-0 { padding-bottom: 0; }
  .md\:pb-1 { padding-bottom: 0.25rem; }
  .md\:pb-2 { padding-bottom: 0.5rem; }
  .md\:pb-4 { padding-bottom: 1rem; }
  .md\:pb-px { padding-bottom: 1px; }
  .md\:pl-0 { padding-left: 0; }
  .md\:pl-1 { padding-left: 0.25rem; }
  .md\:pl-2 { padding-left: 0.5rem; }
  .md\:pl-4 { padding-left: 1rem; }
  .md\:pl-px { padding-left: 1px; }
  .md\:px-0 { padding-left: 0; }
  .md\:px-0 { padding-right: 0; }
  .md\:px-1 { padding-left: 0.25rem; }
  .md\:px-1 { padding-right: 0.25rem; }
  .md\:px-2 { padding-left: 0.5rem; }
  .md\:px-2 { padding-right: 0.5rem; }
  .md\:px-4 { padding-left: 1rem; }
  .md\:px-4 { padding-right: 1rem; }
  .md\:px-px { padding-left: 1px; }
  .md\:px-px { padding-right: 1px; }
  .md\:py-0 { padding-top: 0; }
  .md\:py-0 { padding-bottom: 0; }
  .md\:py-1 { padding-top: 0.25rem; }
  .md\:py-1 { padding-bottom: 0.25rem; }
  .md\:py-2 { padding-top: 0.5rem; }
  .md\:py-2 { padding-bottom: 0.5rem; }
  .md\:py-4 { padding-top: 1rem; }
  .md\:py-4 { padding-bottom: 1rem; }
  .md\:py-px { padding-top: 1px; }
  .md\:py-px { padding-bottom: 1px; }
  .md\:p-0 { padding: 0; }
  .md\:p-1 { padding: 0.25rem; }
  .md\:p-2 { padding: 0.5rem; }
  .md\:p-4 { padding: 1rem; }
  .md\:p-px { padding: 1px; }
  .md\:text-left { text-align: left; }
  .md\:text-center { text-align: center; }
  .md\:text-right { text-align: right; }
  .md\:text-justify { text-align: justify; }
  .md\:font-thin { font-weight: 100; }
  .md\:font-light { font-weight: 300; }
  .md\:font-normal { font-weight: 400; }
  .md\:font-medium { font-weight: 500; }
  .md\:font-semibold { font-weight: 600; }
  .md\:font-bold { font-weight: 700; }
  .md\:font-black { font-weight: 900; }
  .md\:text-xs { font-size: 0.75rem; }
  .md\:text-sm { font-size: 0.875rem; }
  .md\:text-base { font-size: 1rem; }
  .md\:text-lg { font-size: 1.125rem; }
  .md\:text-xl { font-size: 1.25rem; }
  .md\:text-2xl { font-size: 1.5rem; }
  .md\:text-3xl { font-size: 1.875rem; }
}
@media (min-width: 1024px) {
  .lg\:mt-0 { margin-top: 0; }
  .lg\:mt-1 { margin-top: 0.25rem; }
  .lg\:mt-2 { margin-top: 0.5rem; }
  .lg\:mt-4 { margin-top: 1rem; }
  .lg\:mt-px { margin-top: 1px; }
  .lg\:mr-0 { margin-right: 0; }
  .lg\:mr-1 { margin-right: 0.25rem; }
  .lg\:mr-2 { margin-right: 0.5rem; }
  .lg\:mr-4 { margin-right: 1rem; }
  .lg\:mr-px { margin-right: 1px; }
  .lg\:mb-0 { margin-bottom: 0; }
  .lg\:mb-1 { margin-bottom: 0.25rem; }
  .lg\:mb-2 { margin-bottom: 0.5rem; }
  .lg\:mb-4 { margin-bottom: 1rem; }
  .lg\:mb-px { margin-bottom: 1px; }
  .lg\:ml-0 { margin-left: 0; }
  .lg\:ml-1 { margin-left: 0.25rem; }
  .lg\:ml-2 { margin-left: 0.5rem; }
  .lg\:ml-4 { margin-left: 1rem; }
  .lg\:ml-px { margin-left: 1px; }
  .lg\:mx-0 { margin-left: 0; }
  .lg\:mx-0 { margin-right: 0; }
  .lg\:mx-1 { margin-left: 0.25rem; }
  .lg\:mx-1 { margin-right: 0.25rem; }
  .lg\:mx-2 { margin-left: 0.5rem; }
  .lg\:mx-2 { margin-right: 0.5rem; }
  .lg\:mx-4 { margin-left: 1rem; }
  .lg\:mx-4 { margin-right: 1rem; }
  .lg\:mx-px { margin-left: 1px; }
  .lg\:mx-px { margin-right: 1px; }
  .lg\:my-0 { margin-top: 0; }
  .lg\:my-0 { margin-bottom: 0; }
  .lg\:my-1 { margin-top: 0.25rem; }
  .lg\:my-1 { margin-bottom: 0.25rem; }
  .lg\:my-2 { margin-top: 0.5rem; }
  .lg\:my-2 { margin-bottom: 0.5rem; }
  .lg\:my-4 { margin-top: 1rem; }
  .lg\:my-4 { margin-bottom: 1rem; }
  .lg\:my-px { margin-top: 1px; }
  .lg\:my-px { margin-bottom: 1px; }
  .lg\:m-0 { margin: 0; }
  .lg\:m-1 { margin: 0.25rem; }
  .lg\:m-2 { margin: 0.5rem; }
  .lg\:m-4 { margin: 1rem; }
  .lg\:m-px { margin: 1px; }
  .lg\:pt-0 { padding-top: 0; }
  .lg\:pt-1 { padding-top: 0.25rem; }
  .lg\:pt-2 { padding-top: 0.5rem; }
  .lg\:pt-4 { padding-top: 1rem; }
  .lg\:pt-px { padding-top: 1px; }
  .lg\:pr-0 { padding-right: 0; }
  .lg\:pr-1 { padding-right: 0.25rem; }
  .lg\:pr-2 { padding-right: 0.5rem; }
  .lg\:pr-4 { padding-right: 1rem; }
  .lg\:pr-px { padding-right: 1px; }
  .lg\:pb-0 { padding-bottom: 0; }
  .lg\:pb-1 { padding-bottom: 0.25rem; }
  .lg\:pb-2 { padding-bottom: 0.5rem; }
  .lg\:pb-4 { padding-bottom: 1rem; }
  .lg\:pb-px { padding-bottom: 1px; }
  .lg\:pl-0 { padding-left: 0; }
  .lg\:pl-1 { padding-left: 0.25rem; }
  .lg\:pl-2 { padding-left: 0.5rem; }
  .lg\:pl-4 { padding-left: 1rem; }
  .lg\:pl-px { padding-left: 1px; }
  .lg\:px-0 { padding-left: 0; }
  .lg\:px-0 { padding-right: 0; }
  .lg\:px-1 { padding-left: 0.25rem; }
  .lg\:px-1 { padding-right: 0.25rem; }
  .lg\:px-2 { padding-left: 0.5rem; }
  .lg\:px-2 { padding-right: 0.5rem; }
  .lg\:px-4 { padding-left: 1rem; }
  .lg\:px-4 { padding-right: 1rem; }
  .lg\:px-px { padding-left: 1px; }
  .lg\:px-px { padding-right: 1px; }
  .lg\:py-0 { padding-top: 0; }
  .lg\:py-0 { padding-bottom: 0; }
  .lg\:py-1 { padding-top: 0.25rem; }
  .lg\:py-1 { padding-bottom: 0.25rem; }
  .lg\:py-2 { padding-top: 0.5rem; }
  .lg\:py-2 { padding-bottom: 0.5rem; }
  .lg\:py-4 { padding-top: 1rem; }
  .lg\:py-4 { padding-bottom: 1rem; }
  .lg\:py-px { padding-top: 1px; }
  .lg\:py-px { padding-bottom: 1px; }
  .lg\:p-0 { padding: 0; }
  .lg\:p-1 { padding: 0.25rem; }
  .lg\:p-2 { padding: 0.5rem; }
  .lg\:p-4 { padding: 1rem; }
  .lg\:p-px { padding: 1px; }
  .lg\:text-left { text-align: left; }
  .lg\:text-center { text-align: center; }
  .lg\:text-right { text-align: right; }
  .lg\:text-justify { text-align: justify; }
  .lg\:font-thin { font-weight: 100; }
  .lg\:font-light { font-weight: 300; }
  .lg\:font-normal { font-weight: 400; }
  .lg\:font-medium { font-weight: 500; }
  .lg\:font-semibold { font-weight: 600; }
  .lg\:font-bold { font-weight: 700; }
  .lg\:font-black { font-weight: 900; }
  .lg\:text-xs { font-size: 0.75rem; }
  .lg\:text-sm { font-size: 0.875rem; }
  .lg\:text-base { font-size: 1rem; }
  .lg\:text-lg { font-size: 1.125rem; }
  .lg\:text-xl { font-size: 1.25rem; }
  .lg\:text-2xl { font-size: 1.5rem; }
  .lg\:text-3xl { font-size: 1.875rem; }
}
@media (min-width: 1280px) {
  .xl\:mt-0 { margin-top: 0; }
  .xl\:mt-1 { margin-top: 0.25rem; }
  .xl\:mt-2 { margin-top: 0.5rem; }
  .xl\:mt-4 { margin-top: 1rem; }
  .xl\:mt-px { margin-top: 1px; }
  .xl\:mr-0 { margin-right: 0; }
  .xl\:mr-1 { margin-right: 0.25rem; }
  .xl\:mr-2 { margin-right: 0.5rem; }
  .xl\:mr-4 { margin-right: 1rem; }
  .xl\:mr-px { margin-right: 1px; }
  .xl\:mb-0 { margin-bottom: 0; }
  .xl\:mb-1 { margin-bottom: 0.25rem; }
  .xl\:mb-2 { margin-bottom: 0.5rem; }
  .xl\:mb-4 { margin-bottom: 1rem; }
  .xl\:mb-px { margin-bottom: 1px; }
  .xl\:ml-0 { margin-left: 0; }
  .xl\:ml-1 { margin-left: 0.25rem; }
  .xl\:ml-2 { margin-left: 0.5rem; }
  .xl\:ml-4 { margin-left: 1rem; }
  .xl\:ml-px { margin-left: 1px; }
  .xl\:mx-0 { margin-left: 0; }
  .xl\:mx-0 { margin-right: 0; }
  .xl\:mx-1 { margin-left: 0.25rem; }
  .xl\:mx-1 { margin-right: 0.25rem; }
  .xl\:mx-2 { margin-left: 0.5rem; }
  .xl\:mx-2 { margin-right: 0.5rem; }
  .xl\:mx-4 { margin-left: 1rem; }
  .xl\:mx-4 { margin-right: 1rem; }
  .xl\:mx-px { margin-left: 1px; }
  .xl\:mx-px { margin-right: 1px; }
  .xl\:my-0 { margin-top: 0; }
  .xl\:my-0 { margin-bottom: 0; }
  .xl\:my-1 { margin-top: 0.25rem; }
  .xl\:my-1 { margin-bottom: 0.25rem; }
  .xl\:my-2 { margin-top: 0.5rem; }
  .xl\:my-2 { margin-bottom: 0.5rem; }
  .xl\:my-4 { margin-top: 1rem; }
  .xl\:my-4 { margin-bottom: 1rem; }
  .xl\:my-px { margin-top: 1px; }
  .xl\:my-px { margin-bottom: 1px; }
  .xl\:m-0 { margin: 0; }
  .xl\:m-1 { margin: 0.25rem; }
  .xl\:m-2 { margin: 0.5rem; }
  .xl\:m-4 { margin: 1rem; }
  .xl\:m-px { margin: 1px; }
  .xl\:pt-0 { padding-top: 0; }
  .xl\:pt-1 { padding-top: 0.25rem; }
  .xl\:pt-2 { padding-top: 0.5rem; }
  .xl\:pt-4 { padding-top: 1rem; }
  .xl\:pt-px { padding-top: 1px; }
  .xl\:pr-0 { padding-right: 0; }
  .xl\:pr-1 { padding-right: 0.25rem; }
  .xl\:pr-2 { padding-right: 0.5rem; }
  .xl\:pr-4 { padding-right: 1rem; }
  .xl\:pr-px { padding-right: 1px; }
  .xl\:pb-0 { padding-bottom: 0; }
  .xl\:pb-1 { padding-bottom: 0.25rem; }
  .xl\:pb-2 { padding-bottom: 0.5rem; }
  .xl\:pb-4 { padding-bottom: 1rem; }
  .xl\:pb-px { padding-bottom: 1px; }
  .xl\:pl-0 { padding-left: 0; }
  .xl\:pl-1 { padding-left: 0.25rem; }
  .xl\:pl-2 { padding-left: 0.5rem; }
  .xl\:pl-4 { padding-left: 1rem; }
  .xl\:pl-px { padding-left: 1px; }
  .xl\:px-0 { padding-left: 0; }
  .xl\:px-0 { padding-right: 0; }
  .xl\:px-1 { padding-left: 0.25rem; }
  .xl\:px-1 { padding-right: 0.25rem; }
  .xl\:px-2 { padding-left: 0.5rem; }
  .xl\:px-2 { padding-right: 0.5rem; }
  .xl\:px-4 { padding-left: 1rem; }
  .xl\:px-4 { padding-right: 1rem; }
  .xl\:px-px { padding-left: 1px; }
  .xl\:px-px { padding-right: 1px; }
  .xl\:py-0 { padding-top: 0; }
  .xl\:py-0 { padding-bottom: 0; }
  .xl\:py-1 { padding-top: 0.25rem; }
  .xl\:py-1 { padding-bottom: 0.25rem; }
  .xl\:py-2 { padding-top: 0.5rem; }
  .xl\:py-2 { padding-bottom: 0.5rem; }
  .xl\:py-4 { padding-top: 1rem; }
  .xl\:py-4 { padding-bottom: 1rem; }
  .xl\:py-px { padding-top: 1px; }
  .xl\:py-px { padding-bottom: 1px; }
  .xl\:p-0 { padding: 0; }
  .xl\:p-1 { padding: 0.25rem; }
  .xl\:p-2 { padding: 0.5rem; }
  .xl\:p-4 { padding: 1rem; }
  .xl\:p-px { padding: 1px; }
  .xl\:text-left { text-align: left; }
  .xl\:text-center { text-align: center; }
  .xl\:text-right { text-align: right; }
  .xl\:text-justify { text-align: justify; }
  .xl\:font-thin { font-weight: 100; }
  .xl\:font-light { font-weight: 300; }
  .xl\:font-normal { font-weight: 400; }
  .xl\:font-medium { font-weight: 500; }
  .xl\:font-semibold { font-weight: 600; }
  .xl\:font-bold { font-weight: 700; }
  .xl\:font-black { font-weight: 900; }
  .xl\:text-xs { font-size: 0.75rem; }
  .xl\:text-sm { font-size: 0.875rem; }
  .xl\:text-base { font-size: 1rem; }
  .xl\:text-lg { font-size: 1.125rem; }
  .xl\:text-xl { font-size: 1.25rem; }
  .xl\:text-2xl { font-size: 1.5rem; }
  .xl\:text-3xl { font-size: 1.875rem; }
}
